doctype html
html
  head
    title Reposit칩rio de Recursos Did치ticos
    link(rel='stylesheet', href='/stylesheets/style.css')
  nav
    h1 RRD - Reposit칩rio de Recursos Did치ticos
  nav 
    button  
      a(href='/inicio') Inicio
    button  
      a(href='/public') Publico
    button  
      a(href='/users') Utilizadores
    button  
      a(href='/recurso') Criar Recurso
  
    img.UserNavBar(src = user.image onclick="window.location.href = 'http://localhost:7002/users/"+ user.id +"'")
    h2= user.username 
    h3= user.level
  body
    block content
